#logo {
  display: block;
  margin: auto;
  width: 15%;
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 40px;
}

main {
  padding-top: 8px;
  margin: auto;
  flex: 1;
  width: 95%;
}
.stuff {
  width: 100%;
}
.sidebar {
  padding-bottom: 20px;
}
