.instructions {
  background-color: white;
  border-radius: 15px;
  margin: 2px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
h2 {
  text-align: center;
}
.instruction-container {
  padding-top: 20px;
  margin: auto;
  flex: 1;
  width: 95%;
}
ol {
  margin: 10px;
}
.instruction-btn {
  text-align: center;
  padding-bottom: 10px;
}
#steps{
  padding-left: 15px;
  text-decoration: underline;
}
