.inside-spacing {
  margin: auto;
  flex: 1;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
select > option {
  height: 50%;
  font-size: 30px;
}
.h1_sidebar {
  text-align: center;
  border-bottom: 4px rgba(18, 109, 160, 255);
}
