h2 {
  border-bottom: 4px rgba(18, 109, 160, 255);
}
.title {
  padding-top: 10px;
  border-bottom: 3px solid rgba(18, 109, 160, 255);
  margin-bottom: 10px;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}
div.spacing {
  margin-left: 15px;
}
#download {
  display: none;
}
#loading {
  width: 30px;
  height: auto;
}
.right {
  padding-top: 20px;
  margin: auto;
}
#error {
  color: red;
}
.listWrapper {
  overflow-y: auto;
  height: 400px;
}
.tableFixHead {
  overflow-y: auto;
  height: 200px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background: white;
  position: sticky;
  top: 0;
  font-size: 25px;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
.bottom-spacing{
  margin-bottom: 20px;
}